body {
  background-color: rgb(218, 218, 218);
}

#navText {
  font-size: 2.5em;
}

#mainRow {
  padding-top: 10px;
}

.sticky-sidebar {
  background-color: rgb(160, 160, 160);
  padding: 15px;
  padding-left: 25px;
  padding-right: 25px;
}

.container {
  margin: 5px;
}

.fiveDaycol {
  margin: 5px;
}

#todayWidth {
  padding: 0px;
}

.fiveDayCard {
  padding: 5px;
}

.currentCityBox {
  padding: 15px;
}

aside {
  margin-right: 20px;
}

#previousSearchList {
  margin-top: 20px;
}
/* need margin auto for cards to be the width of the container */
