#navText {
  font-size: 2.5em;
}

#mainRow {
  padding-top: 10px;
}

/* none of this works */
.sticky-sidebar {
  background-color: rgb(16, 32, 107);
  color: purple;
  float: left;
}

.container {
  margin: 5px;
}

.fiveDaycol {
  margin: 5px;
}

#todayWidth {
  padding: 0px;
}

.fiveDayCard {
  padding: 5px;
}

.currentCityBox {
  padding: 15px;
}

aside {
  margin-right: 20px;
}

#previousSearchList {
  margin-top: 20px;
}
/* need margin auto for cards to be the width of the container */
